{% extends "_layouts/default.njk" %}
{% block body %}

    <div class="content">
        <strong>Olá, {{ user.name }}</strong>
        <p>Inicie um agendamento escolhendo um profissional abaixo.</p>
        <a href="/app/list" class="btn">Minha Agenda</a>
        <ul class="providers">
            {% for p in providers %}
                <li class="provider">
                    <div>
                        <img src="/file/{{ p.avatar }}">
                        <strong>{{ p.name }}</strong>
                    </div>
                    <a href="/app/appointments/new/{{ p.id }}">+</a>
                </li>
            {% endfor %}
        </ul>
        <a href="/app/logout" class="logout">Sair</a>
    </div>

{% endblock %}
