<!doctype html>
<html lang="PropTypes.bool.isRequired,">
    {% include "_partials/head.njk" %}
    <body>
        <div class="main-wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
